{{ ansible_managed | comment }}
HADOOP_PID_DIR={{ hdfs_pid_dir }}
HADOOP_LOG_DIR={{ hdfs_log_dir }}
HADOOP_NAMENODE_USER={{ hdfs_namenode_user }}
HADOOP_SECONDARYNAMENODE_USER={{ hdfs_secondarynamenode_user }}
HADOOP_DATANODE_USER={{ hdfs_datanode_user }}
HADOOP_IDENT_STRING={{ hdfs_ident_string }}

{% if hdfs_secure %}
HADOOP_SECURE_DN_USER={{ hdfs_secure_dn_user }}
HADOOP_SECURE_DN_PID_DIR={{ hdfs_secure_dn_pid_dir }}
HADOOP_SECURE_DN_LOG_DIR={{ hdfs_secure_dn_log_dir }}
{% endif %}
